<div class="row">
  <div class="col-md-6 mt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Suche</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #ngForm="ngForm">
          <mat-form-field>
            <input [formControl]="searchInput" type="text" matInput required minlength="1" placeholder="Suchbegriff">
          </mat-form-field>
        </form>
        <p>Suchbegriff mit 2s Verzögerung: <b>{{ (searchInput$ | async) || 'N/A' }}</b></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6 mt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ergebnis</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h5>JSON:</h5>
        <pre>{{ (catJson$ | async) | json }}</pre>
        <h5>URL:</h5>
        <p> {{ (catSrc$ | async) || 'N/A' }} </p>
        <h5>Bild:</h5>
        <img *ngIf="catSrc$ | async; else noPicture" [src]="catSrc$ | async" alt="CATAAS">
        <ng-template #noPicture><p>N/A</p></ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>